global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Total number of connections we can have at once
	maxconn     10000

defaults
	log	global
	mode	tcp
	timeout connect 10m
    timeout client  15m
    timeout server  15m
	timeout queue   10m

	# Enable tcpkeepalives, because we might wait for a backend server for awhile
	option clitcpka

frontend chall
    bind localhost:31338
	default_backend servers


backend servers
	balance roundrobin
	server server1 10.0.0.2:31337 maxconn 1
